.footer{
    position: relative;
    bottom:0;
    width:100%;
    padding-top:2%;
}
.footer img:hover{
    color:rgb(166, 166, 248) !important;
}
.footer nav{
    padding-bottom:0;
}
.footer-nav a{
    margin:0 2% 0 2%;
}